@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 38% 92%; /* нежно-бежевый */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 310 50% 60%; /* розово-фиолетовый */
    --primary-foreground: 210 40% 98%;

    --secondary: 120 30% 80%; /* салатовый */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 40 38% 92%; /* бежевый */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 300 60% 80%; /* светло-фиолетовый */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 310 20% 80%;
    --input: 310 20% 80%;
    --ring: 310 50% 60%; /* розово-фиолетовый */

    --radius: 0.5rem;

    --sidebar-background: 40 38% 92%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 310 50% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 300 60% 80%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 310 20% 80%;
    --sidebar-ring: 310 50% 60%;
  }

  .dark {
    --background: 40 30% 10%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 310 50% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 120 30% 30%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 300 60% 50%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 310 20% 40%;
    --input: 217.2 32.6% 17.5%;
    --ring: 310 50% 60%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 310 50% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 300 60% 50%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 310 20% 40%;
    --sidebar-ring: 310 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  .category-button {
    font-family: "Ebrima", sans-serif;
    font-weight: 700;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
